#i7glg {
  display: flex !important;
  flex-wrap: nowrap !important;
  gap: 1rem !important;
  overflow-x: auto !important;
  -webkit-overflow-scrolling: touch !important;
  scrollbar-width: none !important; /* Firefox */
  cursor: grab !important;
  user-select: none !important;
}

#i7glg::-webkit-scrollbar {
  display: none !important; /* Chrome, Safari, Edge */
}

#i7glg:active {
  cursor: grabbing !important;
}
